/* header style  */



.linkStyle {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  margin-right: 20px;
}

.align-to-right {
  float: right;
  letter-spacing: 0.5px;
}

.menu__list, .nav-dropdown, .nav-menu, ul {
  list-style: none;
}

.carousel-caption {
  top: 20% !important;
  left: 10% !important; 
}

.carousel-caption h1 {
  color: #000;
  font-weight: 600;
  font-size: 4rem;
  margin-top: 10px;
}

.carousel-caption p {
  font-size: 16px;
  margin-bottom: 0px;
  color: rgb(48, 47, 47);
}

.Component-heading{
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}


.fade-title {
  font-style: italic;
  font-weight: 800;
  opacity: 0.11;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
}

.heading-text{
  padding-top: 18px !important;
}

.catagory-img{
    height: 100px;
    border-radius: 50%;
    padding: 20px;
}

/* product style */
.ab-left {
  left: 0.7rem;
  right: auto;
  z-index: 1;
  top: 0.7rem;
}

.position-relative {
  position: relative;
}


/* single product style  */
.nav-pills .nav-link{
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: rgb(32, 124, 9) !important;
  background-color: white !important;
  box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.75) !important;
}

.product-text{
  font-size: 20px;
}


/* testemonial style  */

.testemonial-container{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.testemonial .carousel-indicators {
  display: none !important;
}

.testemonial-img{
  height: 70px;
  margin-bottom: 10px;
  width: auto;
}




/* footer style  */

.footer{
  background-color: #252525;
  color: #a7a7a7;
  transition: all ease 0.4s;
  font-size: 15px;
}

.footer_widget {
  padding: 60px 0 40px;
}

img.img-footer {
  margin: 0;
  max-width: 160px;
  position: relative;
  top: 2px;
}

h4.widget_title {
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer_widget ul {
  padding: 0;
  margin: 0;
}

.footer_widget ul li {
  list-style: none;
  margin-top: 10px;
  /* display: block; */
}


.social-authentication{
  cursor: pointer;
}

.catagories{
  text-align: center;
  justify-content: space-around;
}


/* login style  */
.login-width{
  width: 75%;
}

/* about us style  */
.breadcamb-font{
  font-size: 20px;
}




