@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600;800&display=swap');

body {
  margin: 0;
  font-size: 14px !important;
  font-family: 'Jost', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

