
/* ################################################################# */
/* --------------responsive for mobile device------------------ */
/* ################################################################# */


@media(max-width: 700px){

   
  
    
  
    /* header section style  */
    .navigation-links{
        text-align: center;
        line-height: 30px;
    }

    .flex-element{
        padding: 5px 0px 5px 0px;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none !important;
    }
    
    
    
    
    
    
    
    /* caurosel section style  */
    .carousel-caption {
      top: 5% !important;
      left: 50px !important;
    }
    
   .span-size{
        font-size: 8px;
    }

    .carousel-caption h1{
        font-size: 15px;
        margin-top: 5px;
    }

    .carousel-caption p{
        display: none;
    }

    .carousel-caption .responsive-btn{
        font-size: 10px;
        padding-top: .2rem !important;
        padding-bottom: .2rem !important;
        padding-right: .6rem!important;
        margin-top: 3px !important;
        padding-left: .6rem!important;
    }

    .fade-title{
        font-size: 18px;
    }

    .heading-text{
        padding-top: 12px !important;
        font-size: 12px;
    }
    
    
    
    
    /* catagory section style  */
    .catagories{
        text-align: center;
        justify-content: space-between;
    }

    .catagory-alignment{
        margin-bottom: 10px;
    }

    .catagory-img {
        height: 45px;
        border-radius: 50%;
        padding: 5px;
    }

    .catagories p{
        font-size: 11px;
        margin-top: 5px !important;
        font-weight: normal !important;
    }






    /* product section style  */
    .shop-product .card{
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }

    .shop-product .card .star-rating{
        font-size: 10px;
    }

    .shop-product .card .card-body-contant{
        padding: 5px;
    }

    .shop-product .card h6{
        font-size: 13px !important;
    }



    /* single Product style  */
    .parcase-btn{
        font-size: 14px !important;
    }
    .product-icon{display: none;}

    .product-text{
        font-size: 14px;
    }
    
    
    
    
    /* testmonial section style  */
    .testemonial-container{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
      }

      .Review-text{
        font-size: 10px;
      }

      
    
    
    
    
    /* footer section style  */
    .footer_widget{
        text-align: center;
    }

    .footer_widget {
        padding: 15px 0 25px;
      }
    
    
    
    
    /* about section style  */
    .breadcamb-font{
        font-size: 14px;
      }

    .about-text{
        font-size: 12px !important;
    }

     .responsive-btn {
        font-size: 10px;
        padding-top: .2rem !important;
        padding-bottom: .2rem !important;
        padding-right: .6rem !important;
        margin-top: 3px !important;
        padding-left: .6rem !important;
    }

    .about-policy{
       margin-top: 15px;
       margin-bottom: 15px;

    }


    
    
    /* login section style  */
    .login-width{
        width: 90%;
      }
    
    
    /* register section style  */
    /* lo-re social-authentication style  */
    .Social-links{
        font-size: 40px;
    }
    
    }
  
  
  